.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* added from project */
.primary { color: #c093cc;}

.primary-background {
  background-color: #c093cc;
  height: 100%;
  width: 100%;
}

/* .h1 {
  font-family: 'Crimson Pro', serif;
} */

#has-bg-img{
  position: relative;
  overflow: hidden;
}

.is-bg-img {
  position: absolute;
  object-fit: cover;
  object-position: top center;
  width: 100%;
  height: 100%;}

.is-transparent{opacity: 0.6;}

.center-container {
  display: flex;
  align-items: center;
}

.loginPage {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginPage .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.news {
  flex-direction: column;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 2rem;
}

.newsCate {
  font-style: italic;
  color: darkorchid;
}

.newsTitle {
  font-size: x-large;
  font-weight: bold;
}

.newsBar {
  font-size: medium;
}

.newsHeader {
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 1rem;
}

.meetupHeader{
  padding-bottom: 1rem;
}

.calendButton {
  padding: 8px 10px;
  width: 150px;
  /* font-family: Lato;
  font-style: normal; */
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  background-color: #c093cc;
  border-color: #c093cc;
}
